.bodyBackgorund {
    background-image: url("artPOP.jpeg");
    background-position: center;
    background-size: cover;
  }
  body{
    cursor: pointer;
  }
  h1
  {
      color: rgb(0, 0, 0); 
      font-size: 40px;
  }
  #myCanvas
  {
      border-width:10px;
      background-color: rgb(255, 255, 255); 
      border-style:ridge;
  }
  
  button {
    background-color: #4bc6b5;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 42px;
    font-size: 16px;
  }
  
  input
  {
    margin-right: 20px;
  }
  
  h2
  {
  font-size: 30px;
  }
  